<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ArgonDB" connectionString="Data Source=../../../Argon.db; Synchronous=OFF; Journal Mode=WAL; Temp Store=MEMORY; Page Size=4096; Cache Size=100000; Locking Mode=EXCLUSIVE" providerName="SQLite" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
  </startup>  
</configuration>
