<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="linq2db" version="1.10.1" targetFramework="net461" />
  <package id="linq2db.SQLite" version="1.10.0" targetFramework="net461" />
  <package id="linq2db.t4models" version="1.10.0" targetFramework="net461" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net461" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net461" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks" version="2.0.0" targetFramework="net461" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net461" />
  <package id="Microsoft.Diagnostics.Tracing.TraceEvent" version="1.0.41" targetFramework="net461" />
  <package id="System.Data.SQLite.Core" version="1.0.106.0" targetFramework="net471" />
</packages>